* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.container{
    background-color: rgba(36, 80, 118, 1);
    width: 980px;
    padding: 15px;
}
img{
    width: 375px
}
.header-right{
    display: inline-block;
    vertical-align: top;
    margin-left: 400px;
}
.button{
    vertical-align: top;
    margin-left: 700px;
}